* {
    font-family: 'Inconsolata', monospace;
}

body {
    text-align: center;
    min-width: 600px;
}

#restart:hover {
    color: green;
    cursor: pointer
}

.help {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.cardholder {
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    min-width: 400px;
    max-width: 530px;
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin: 10px;

    position: relative;
    
    width: auto;
    aspect-ratio: 3 / 4.5;

    background-color: transparent;

    perspective: 1000px;
}

.card.down:hover {
    transition: 50ms;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    border: 2px solid black;
    border-radius: 20px;
}

.card.up .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    border-radius: 20px;

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.card-front {
    background-color: #bbb;
    background-image: url(../img/cardpattern.webp);
    background-size: 80%;
    color: black;
}

.card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.upcorner {
    font-size: larger;
    grid-column: 1;
    grid-row: 1;

    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.downcorner {
    font-size: larger;
    grid-column: 3;
    grid-row: 3;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.number {
    grid-column: 2;
    grid-row: 2;

    font-size: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }

    20% {
        transform: translate(-1px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }

    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(1px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}